.hero-section {
  width: 100%;
  height: 600px;
}
.custom-carousel {
  height: 100%;
  width: 100%;
}
.carousel-item {
  height: 600px;
  width: 100%;
  position: relative;
}
.carousel-item-content {
  position: absolute;
  top: 30%;
  left: 15%;
  color: black;
  animation: bounceLeftIn 1s ease-in-out;
  animation-duration: 2s;
}
@keyframes bounceLeftIn {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.carousel-item-content h2 {
  font-size: 2.5rem;
  font-weight: 800;
  opacity: 0.8;
  margin-bottom: 20px;
}
.carousel-item-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.carousel-item-content button {
  margin-top: 20px;
  text-decoration: none;
  padding: 15px 30px;
  background-color: #79a206;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 45px;
}
.carousel-item-content button:hover {
  background-color: #5a7d04;
  transition: ease-in 0.5s;
}
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-section {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.banner-section .banner-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.banner-section .banner-item .banner-item-content {
  position: absolute;
  top: 40%;
  left: 3%;
  color: rgb(0, 0, 0);
}

.banner-button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}
.banner-button::after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #79a206;
  transition: width 0.3s;
  margin-top: 5px;
}
.banner-button:hover {
  text-decoration: none;
  color: #79a206;
}

/* Sub banner section */
.sub-banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 50px 0;
}
.sub-banner-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.sub-banner-item::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  background-color: #79a206;
  margin: 0 20px;
}
.sub-banner-item-content {
  margin-left: 10px;
}
.sub-banner-item-content p {
  padding: 3px 0;
}
/* Our products tab */
.our-products-tabs {
  text-align: center;
  margin-top: 25px;
}
